@import './inc/mixins';

.acfml-translatable-field > .acf-input > .acf-fields {
  border: none;
  background: none;
}
.acfml-translatable-field > .acf-input > .acf-fields > .acfml-field {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  border: none;
  &:not(.is-visible) {
    @include visually-hidden;
  }
}
.acfml-field > .acf-input > .acf-input-wrap {
  overflow: visible;
}
.acfml-field > .acf-label {
  display: none;
}
.acfml-tabs-wrap {
  display: flex;
  margin-bottom: 0.2rem;
}
.acfml-tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.acfml-tab {
  cursor: pointer;
  display: block;
  color: rgb(68,68,68);
  text-decoration: none;
  border: 1px solid #7e8993;
  height: 1.8em;
  line-height: 1.7;
  padding: 0 0.5em;
  z-index: 1;
  @include hover {
    color: #016087;
    background: #f3f5f6;
    border-color: #0071a1;
    z-index: 2;
  }
}
.acfml-tab + .acfml-tab {
  border-left: none;
}
.acfml-tab:first-of-type {
  border-radius: 3px 0 0 3px;
}
.acfml-tab:last-of-type {
  border-radius: 0 3px 3px 0;
}
.acfml-tab.is-active {
  border-color: #007cba;
  background: #008dd4;
  color: white;
}
.acfml-info-icon {
  color: rgba(0,0,0,0.3);
  cursor: help;
  @include hover {
    color: rgba(0,0,0,0.5);
  }
  margin-left: 0.3rem;
}

/*
* Title
*/
.post-php, 
.post-new.php,
.edit-tags-php {
  .acf-field-acfml-title .acf-label {
    display: none;
  }
}
.post-php, .post-new-php {
  .acf-field-acfml-title input {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: none;
    margin: 0 0 3px;
    background-color: #fff;
  }
}

.supports-acfml-title #post-body-content #acf_after_title-sortables {
  margin-top: 0 !important;
}
.supports-acfml-title #titlediv {
  pointer-events: none;
  opacity: 0.5;
}
#acf-acfml_title_group > .acf-fields > .acf-field {
  padding-top: 0;
}

/*
* Category edit screens
*/
#addtag,
#edittag {
  display: flex;
  flex-direction: column;
}
#addtag > *,
#edittag > * {
  order: 2;
}
#addtag > #acf-term-fields,
#edittag > #acf-form-data + .form-table {
  order: 1;
}