@import './inc/mixins';

.acfl-group > .acf-input > .acf-fields {
  border: none;
}
.acfl-group > .acf-input > .acf-fields > .acfl-field {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  border: none;
  &:not(.is-visible) {
    @include visually-hidden;
  }
}
.acfl-field > .acf-label {
  display: none;
}
.acfl-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0.2rem 0;
}
.acfl-tab {
  cursor: pointer;
  display: block;
  margin-right: 5px;
  color: #0073aa;
  text-decoration: none;
  @include hover {
    text-decoration: underline;
  }
}
.acfl-tab.is-active {
  font-weight: bold;
}
.acfl-info-icon {
  color: rgba(0,0,0,0.3);
  cursor: help;
  @include hover {
    color: rgba(0,0,0,0.5);
  }
}