@import './inc/mixins';

.acfml-multilingual-field > .acf-input > .acf-fields {
  border: none;
  background: none;
}
.acfml-multilingual-field > .acf-input > .acf-fields > .acfml-field {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  padding-bottom: 0;
  border: none;
}
.acfml-multilingual-field > .acf-input > .acf-fields > .acfml-field:not(.acfml-is-visible) {
  @include visually-hidden;
}
[data-acfml-ui-style=columns] > .acf-input > .acf-fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  &:after { display: none; }
  gap: 1%;
}

.acfml-ui-style--tabs .acfml-field > .acf-label,
[data-acfml-ui-style=columns] > .acf-label,
.acf-field-acfml-slug > .acf-label,
.acf-field-acfml-lang-active > .acf-label {
  display: none;
}
.acfml-lang-active.acfml-is-default-language {
  .acf-true-false {
    opacity: 0.6;
  }
  pointer-events: none;
  user-select: none;
}
.acf-field-acfml-lang-active .acfml-field > .acf-label,
.acf-field-acfml-slug .acfml-field > .acf-label {
  display: block;
  margin-top: -5px;
}
.acfml-tabs-wrap {
  display: flex;
  margin-bottom: 0.2rem;
  user-select: none;
}
.acfml-tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  --acfml-border: 1px solid rgba(0,0,0,0.2);
}
.acfml-tabs:after {
  content: "";
  display: block;
  pointer-events: none;
  position: absolute;
  z-index: 3;
  inset: 0;
  border-radius: 3px;
  border: var(--acfml-border);
}
[dir=rtl] .acfml-tabs {
  flex-direction: row-reverse;
}
.acfml-tab,
.media-frame .acfml-tab {
  appearance: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  color: rgb(68,68,68);
  text-decoration: none;
  background: transparent;
  white-space: nowrap;
  padding: 0.3em 0.7em 0.4em;
  z-index: 0;
  @include hover {
    color: var(--acfml-button-primary-background, #016087);
    background: rgba(0,0,0,0.05);
  }
  &.is-active {
    background: var(--acfml-button-primary-background, #008dd4);
    color: var(--acfml-button-primary-color, #008dd4);
    z-index: 1;
  }
}
.acfml-tab:not(.is-active) + .acfml-tab:not(.is-active):before {
  content: "";
  display: block;
  position: absolute;
  inset-block: 1px;
  inset-inline: 0 auto;
  border-left: var(--acfml-border);
}
.acfml-info-icon {
  color: rgba(0,0,0,0.3);
  cursor: help;
  @include hover {
    color: rgba(0,0,0,0.5);
  }
  margin-left: 0.3rem;
}

/*
* Title
*/
.acf-field-acfml-post-title .acf-label,
.edit-tags-php .acf-field-acfml-term-title .acf-label {
  display: none;
}

.post-php, .post-new-php {
  .acfml-post-title input[type="text"] {
    padding: 3px 8px;
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 100%;
    outline: none;
    margin: 0 0 3px;
    background-color: #fff;
  }
}
.acf-fields > .acf-field.acf-field-acfml-post-title {
  padding-bottom: 0;
}

.acfml-multilingual-post-type #post-body-content #acf_after_title-sortables,
.acf-field-acfml-term-name {
  margin-top: 0 !important;
}
.acfml-multilingual-post-type #titlediv {
  display: none;
}
.acf-fields>.acfml-post-title .acf-input-wrap {
  padding: 2px;
  margin: -2px;
}


/*
* Slugs
*/
.acfml-slug .acf-input-append {
  padding: 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.acfml-slug .acf-input-append .button {
  border-radius: 0;
  margin: -1px;
  border: none;
}
.acfml-slug .acf-input-append .button:last-child {
  border-radius: 0 3px 3px 0;
}
[dir=rtl] .acfml-slug .acf-input-append .button:last-child {
  border-radius: 3px 0 0 3px;
}
.acfml-slug .acf-input-prepend {
  direction: ltr;
}
/*
* Category edit screens
*/
#addtag,
#edittag {
  display: flex;
  flex-direction: column;
}
#addtag > *,
#edittag > * {
  order: 2;
}
#addtag > #acf-term-fields,
#edittag > #acf-form-data + .form-table {
  order: 1;
}

/*
* General styles
*/
.acfml-admin-notice > *:last-child {
  margin-bottom: 0.8em;
}

/*
* Admin Bar
*/
// .ab-icon.acfml:before {
//   content: "\f182";
//   top: 1px;
// }